Selection Sort/obj/project.assets.json
Selection Sort/obj/project.nuget.cache
Selection Sort/obj/Selection Sort.csproj.nuget.dgspec.json
Selection Sort/obj/Selection Sort.csproj.nuget.g.props
Selection Sort/obj/Selection Sort.csproj.nuget.g.targets
Selection Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Selection Sort/obj/Debug/net7.0/Selection Sort.AssemblyInfo.cs
Selection Sort/obj/Debug/net7.0/Selection Sort.AssemblyInfoInputs.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.assets.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.GeneratedMSBuildEditorConfig.editorconfig
.vscode/tasks.json
.vscode/launch.json
Selection Sort/bin/Debug/net7.0/Selection Sort
Selection Sort/bin/Debug/net7.0/Selection Sort.deps.json
Selection Sort/bin/Debug/net7.0/Selection Sort.dll
Selection Sort/bin/Debug/net7.0/Selection Sort.pdb
Selection Sort/bin/Debug/net7.0/Selection Sort.runtimeconfig.json
Selection Sort/obj/Debug/net7.0/apphost
Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.CoreCompileInputs.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.FileListAbsolute.txt
Selection Sort/obj/Debug/net7.0/Selection Sort.dll
Selection Sort/obj/Debug/net7.0/Selection Sort.genruntimeconfig.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.pdb
Selection Sort/obj/Debug/net7.0/ref/Selection Sort.dll
Selection Sort/obj/Debug/net7.0/refint/Selection Sort.dll
Insertion Sort/bin/Debug/net7.0/Insertion Sort
Insertion Sort/bin/Debug/net7.0/Insertion Sort.deps.json
Insertion Sort/bin/Debug/net7.0/Insertion Sort.dll
Insertion Sort/bin/Debug/net7.0/Insertion Sort.pdb
Insertion Sort/bin/Debug/net7.0/Insertion Sort.runtimeconfig.json
Insertion Sort/obj/Insertion Sort.csproj.nuget.dgspec.json
Insertion Sort/obj/Insertion Sort.csproj.nuget.g.props
Insertion Sort/obj/Insertion Sort.csproj.nuget.g.targets
Insertion Sort/obj/project.assets.json
Insertion Sort/obj/project.nuget.cache
Insertion Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Insertion Sort/obj/Debug/net7.0/apphost
Insertion Sort/obj/Debug/net7.0/Insertion Sort.AssemblyInfo.cs
Insertion Sort/obj/Debug/net7.0/Insertion Sort.AssemblyInfoInputs.cache
Insertion Sort/obj/Debug/net7.0/Insertion Sort.assets.cache
Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.CoreCompileInputs.cache
Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.FileListAbsolute.txt
Insertion Sort/obj/Debug/net7.0/Insertion Sort.dll
Insertion Sort/obj/Debug/net7.0/Insertion Sort.GeneratedMSBuildEditorConfig.editorconfig
Insertion Sort/obj/Debug/net7.0/Insertion Sort.genruntimeconfig.cache
Insertion Sort/obj/Debug/net7.0/Insertion Sort.GlobalUsings.g.cs
Insertion Sort/obj/Debug/net7.0/Insertion Sort.pdb
Insertion Sort/obj/Debug/net7.0/ref/Insertion Sort.dll
Insertion Sort/obj/Debug/net7.0/refint/Insertion Sort.dll
Shell Sort/obj/project.assets.json
Shell Sort/obj/project.nuget.cache
Shell Sort/obj/Shell Sort.csproj.nuget.dgspec.json
Shell Sort/obj/Shell Sort.csproj.nuget.g.props
Shell Sort/obj/Shell Sort.csproj.nuget.g.targets
Shell Sort/bin/Debug/net7.0/Shell Sort
Shell Sort/bin/Debug/net7.0/Shell Sort.deps.json
Shell Sort/bin/Debug/net7.0/Shell Sort.dll
Shell Sort/bin/Debug/net7.0/Shell Sort.pdb
Shell Sort/bin/Debug/net7.0/Shell Sort.runtimeconfig.json
Shell Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Shell Sort/obj/Debug/net7.0/apphost
Shell Sort/obj/Debug/net7.0/Shell Sort.AssemblyInfo.cs
Shell Sort/obj/Debug/net7.0/Shell Sort.AssemblyInfoInputs.cache
Shell Sort/obj/Debug/net7.0/Shell Sort.assets.cache
Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.CoreCompileInputs.cache
Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.FileListAbsolute.txt
Shell Sort/obj/Debug/net7.0/Shell Sort.dll
Shell Sort/obj/Debug/net7.0/Shell Sort.GeneratedMSBuildEditorConfig.editorconfig
Shell Sort/obj/Debug/net7.0/Shell Sort.genruntimeconfig.cache
Shell Sort/obj/Debug/net7.0/Shell Sort.GlobalUsings.g.cs
Shell Sort/obj/Debug/net7.0/Shell Sort.pdb
Shell Sort/obj/Debug/net7.0/ref/Shell Sort.dll
Shell Sort/obj/Debug/net7.0/refint/Shell Sort.dll
Insertion Sort/bin/Debug/net7.0/SortingAlgorithm.dll
Insertion Sort/bin/Debug/net7.0/SortingAlgorithm.pdb
Insertion Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Insertion Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.AssemblyReference.cache
Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.CopyComplete
SortingAlgorithm/bin/Debug/net7.0/SortingAlgorithm.deps.json
SortingAlgorithm/bin/Debug/net7.0/SortingAlgorithm.dll
SortingAlgorithm/bin/Debug/net7.0/SortingAlgorithm.pdb
SortingAlgorithm/obj/project.assets.json
SortingAlgorithm/obj/project.nuget.cache
SortingAlgorithm/obj/SortingAlgorithm.csproj.nuget.dgspec.json
SortingAlgorithm/obj/SortingAlgorithm.csproj.nuget.g.props
SortingAlgorithm/obj/SortingAlgorithm.csproj.nuget.g.targets
SortingAlgorithm/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.AssemblyInfo.cs
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.AssemblyInfoInputs.cache
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.assets.cache
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.csproj.CoreCompileInputs.cache
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.csproj.FileListAbsolute.txt
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.dll
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.GeneratedMSBuildEditorConfig.editorconfig
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.GlobalUsings.g.cs
SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.pdb
SortingAlgorithm/obj/Debug/net7.0/ref/SortingAlgorithm.dll
SortingAlgorithm/obj/Debug/net7.0/refint/SortingAlgorithm.dll
SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithm.dll
SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithm.pdb
SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithmAnalyzer.deps.json
SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
SortingAlgorithmAnalyzer/obj/project.assets.json
SortingAlgorithmAnalyzer/obj/project.nuget.cache
SortingAlgorithmAnalyzer/obj/SortingAlgorithmAnalyzer.csproj.nuget.dgspec.json
SortingAlgorithmAnalyzer/obj/SortingAlgorithmAnalyzer.csproj.nuget.g.props
SortingAlgorithmAnalyzer/obj/SortingAlgorithmAnalyzer.csproj.nuget.g.targets
SortingAlgorithmAnalyzer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.AssemblyInfo.cs
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.AssemblyInfoInputs.cache
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.assets.cache
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.AssemblyReference.cache
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.CopyComplete
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.CoreCompileInputs.cache
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.FileListAbsolute.txt
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.dll
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.GeneratedMSBuildEditorConfig.editorconfig
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.GlobalUsings.g.cs
SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
SortingAlgorithmAnalyzer/obj/Debug/net7.0/ref/SortingAlgorithmAnalyzer.dll
SortingAlgorithmAnalyzer/obj/Debug/net7.0/refint/SortingAlgorithmAnalyzer.dll
Selection Sort/bin/Debug/net7.0/SortingAlgorithm.pdb
Selection Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Selection Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.AssemblyReference.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.CopyComplete
Selection Sort/bin/Debug/net7.0/SortingAlgorithm.dll
Shell Sort/bin/Debug/net7.0/SortingAlgorithm.dll
Shell Sort/bin/Debug/net7.0/SortingAlgorithm.pdb
Shell Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Shell Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.AssemblyReference.cache
Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.CopyComplete
Merge Sort/bin/Debug/net7.0/Merge Sort
Merge Sort/bin/Debug/net7.0/Merge Sort.deps.json
Merge Sort/bin/Debug/net7.0/Merge Sort.dll
Merge Sort/bin/Debug/net7.0/Merge Sort.pdb
Merge Sort/bin/Debug/net7.0/Merge Sort.runtimeconfig.json
Merge Sort/obj/Merge Sort.csproj.nuget.dgspec.json
Merge Sort/obj/Merge Sort.csproj.nuget.g.props
Merge Sort/obj/Merge Sort.csproj.nuget.g.targets
Merge Sort/obj/project.assets.json
Merge Sort/obj/project.nuget.cache
Merge Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Merge Sort/obj/Debug/net7.0/apphost
Merge Sort/obj/Debug/net7.0/Merge Sort.AssemblyInfo.cs
Merge Sort/obj/Debug/net7.0/Merge Sort.AssemblyInfoInputs.cache
Merge Sort/obj/Debug/net7.0/Merge Sort.assets.cache
Merge Sort/obj/Debug/net7.0/Merge Sort.csproj.CoreCompileInputs.cache
Merge Sort/obj/Debug/net7.0/Merge Sort.csproj.FileListAbsolute.txt
Merge Sort/obj/Debug/net7.0/Merge Sort.dll
Merge Sort/obj/Debug/net7.0/Merge Sort.GeneratedMSBuildEditorConfig.editorconfig
Merge Sort/obj/Debug/net7.0/Merge Sort.genruntimeconfig.cache
Merge Sort/obj/Debug/net7.0/Merge Sort.GlobalUsings.g.cs
Merge Sort/obj/Debug/net7.0/Merge Sort.pdb
Merge Sort/obj/Debug/net7.0/ref/Merge Sort.dll
Merge Sort/obj/Debug/net7.0/refint/Merge Sort.dll
Bottom Up Merge Sort/obj/Bottom Up Merge Sort.csproj.nuget.dgspec.json
Bottom Up Merge Sort/obj/Bottom Up Merge Sort.csproj.nuget.g.props
Bottom Up Merge Sort/obj/Bottom Up Merge Sort.csproj.nuget.g.targets
Bottom Up Merge Sort/obj/project.assets.json
Bottom Up Merge Sort/obj/project.nuget.cache
Bottom Up Merge Sort/bin/Debug/net7.0/Bottom Up Merge Sort
Bottom Up Merge Sort/bin/Debug/net7.0/Bottom Up Merge Sort.deps.json
Bottom Up Merge Sort/bin/Debug/net7.0/Bottom Up Merge Sort.dll
Bottom Up Merge Sort/bin/Debug/net7.0/Bottom Up Merge Sort.pdb
Bottom Up Merge Sort/bin/Debug/net7.0/Bottom Up Merge Sort.runtimeconfig.json
Bottom Up Merge Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Bottom Up Merge Sort/obj/Debug/net7.0/apphost
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.AssemblyInfo.cs
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.AssemblyInfoInputs.cache
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.assets.cache
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.csproj.CoreCompileInputs.cache
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.csproj.FileListAbsolute.txt
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.dll
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.GeneratedMSBuildEditorConfig.editorconfig
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.genruntimeconfig.cache
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.GlobalUsings.g.cs
Bottom Up Merge Sort/obj/Debug/net7.0/Bottom Up Merge Sort.pdb
Bottom Up Merge Sort/obj/Debug/net7.0/ref/Bottom Up Merge Sort.dll
Bottom Up Merge Sort/obj/Debug/net7.0/refint/Bottom Up Merge Sort.dll
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithm.dll
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithm.pdb
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithmAnalyzer.deps.json
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/project.assets.json
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/project.nuget.cache
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/SortingAlgorithmAnalyzer.csproj.nuget.dgspec.json
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/SortingAlgorithmAnalyzer.csproj.nuget.g.props
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/SortingAlgorithmAnalyzer.csproj.nuget.g.targets
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.AssemblyInfo.cs
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.AssemblyInfoInputs.cache
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.assets.cache
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.AssemblyReference.cache
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.CopyComplete
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.CoreCompileInputs.cache
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.csproj.FileListAbsolute.txt
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.GeneratedMSBuildEditorConfig.editorconfig
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.GlobalUsings.g.cs
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/ref/SortingAlgorithmAnalyzer.dll
Elementary Sorting Algorithms/SortingAlgorithmAnalyzer/obj/Debug/net7.0/refint/SortingAlgorithmAnalyzer.dll
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/Insertion Sort
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/Insertion Sort.deps.json
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/Insertion Sort.dll
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/Insertion Sort.pdb
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/Insertion Sort.runtimeconfig.json
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/SortingAlgorithm.dll
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/SortingAlgorithm.pdb
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Elementary Sorting Algorithms/Insertion Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Elementary Sorting Algorithms/Insertion Sort/obj/Insertion Sort.csproj.nuget.dgspec.json
Elementary Sorting Algorithms/Insertion Sort/obj/Insertion Sort.csproj.nuget.g.props
Elementary Sorting Algorithms/Insertion Sort/obj/Insertion Sort.csproj.nuget.g.targets
Elementary Sorting Algorithms/Insertion Sort/obj/project.assets.json
Elementary Sorting Algorithms/Insertion Sort/obj/project.nuget.cache
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/apphost
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.AssemblyInfo.cs
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.AssemblyInfoInputs.cache
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.assets.cache
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.AssemblyReference.cache
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.CopyComplete
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.CoreCompileInputs.cache
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.csproj.FileListAbsolute.txt
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.dll
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.GeneratedMSBuildEditorConfig.editorconfig
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.genruntimeconfig.cache
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.GlobalUsings.g.cs
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/Insertion Sort.pdb
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/ref/Insertion Sort.dll
Elementary Sorting Algorithms/Insertion Sort/obj/Debug/net7.0/refint/Insertion Sort.dll
Elementary Sorting Algorithms/SortingAlgorithm/bin/Debug/net7.0/SortingAlgorithm.deps.json
Elementary Sorting Algorithms/SortingAlgorithm/bin/Debug/net7.0/SortingAlgorithm.dll
Elementary Sorting Algorithms/SortingAlgorithm/bin/Debug/net7.0/SortingAlgorithm.pdb
Elementary Sorting Algorithms/SortingAlgorithm/obj/project.assets.json
Elementary Sorting Algorithms/SortingAlgorithm/obj/project.nuget.cache
Elementary Sorting Algorithms/SortingAlgorithm/obj/SortingAlgorithm.csproj.nuget.dgspec.json
Elementary Sorting Algorithms/SortingAlgorithm/obj/SortingAlgorithm.csproj.nuget.g.props
Elementary Sorting Algorithms/SortingAlgorithm/obj/SortingAlgorithm.csproj.nuget.g.targets
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.AssemblyInfo.cs
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.AssemblyInfoInputs.cache
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.assets.cache
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.csproj.CoreCompileInputs.cache
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.csproj.FileListAbsolute.txt
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.dll
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.GeneratedMSBuildEditorConfig.editorconfig
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.GlobalUsings.g.cs
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/SortingAlgorithm.pdb
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/ref/SortingAlgorithm.dll
Elementary Sorting Algorithms/SortingAlgorithm/obj/Debug/net7.0/refint/SortingAlgorithm.dll
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/Selection Sort
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/Selection Sort.deps.json
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/Selection Sort.dll
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/Selection Sort.pdb
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/Selection Sort.runtimeconfig.json
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/SortingAlgorithm.dll
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/SortingAlgorithm.pdb
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Elementary Sorting Algorithms/Selection Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Elementary Sorting Algorithms/Selection Sort/obj/project.assets.json
Elementary Sorting Algorithms/Selection Sort/obj/project.nuget.cache
Elementary Sorting Algorithms/Selection Sort/obj/Selection Sort.csproj.nuget.dgspec.json
Elementary Sorting Algorithms/Selection Sort/obj/Selection Sort.csproj.nuget.g.props
Elementary Sorting Algorithms/Selection Sort/obj/Selection Sort.csproj.nuget.g.targets
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/apphost
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.AssemblyInfo.cs
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.AssemblyInfoInputs.cache
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.assets.cache
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.AssemblyReference.cache
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.CopyComplete
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.CoreCompileInputs.cache
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.FileListAbsolute.txt
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.dll
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.GeneratedMSBuildEditorConfig.editorconfig
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.genruntimeconfig.cache
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.GlobalUsings.g.cs
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/Selection Sort.pdb
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/ref/Selection Sort.dll
Elementary Sorting Algorithms/Selection Sort/obj/Debug/net7.0/refint/Selection Sort.dll
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/Shell Sort
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/Shell Sort.deps.json
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/Shell Sort.dll
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/Shell Sort.pdb
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/Shell Sort.runtimeconfig.json
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/SortingAlgorithm.dll
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/SortingAlgorithm.pdb
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.dll
Elementary Sorting Algorithms/Shell Sort/bin/Debug/net7.0/SortingAlgorithmAnalyzer.pdb
Elementary Sorting Algorithms/Shell Sort/obj/project.assets.json
Elementary Sorting Algorithms/Shell Sort/obj/project.nuget.cache
Elementary Sorting Algorithms/Shell Sort/obj/Shell Sort.csproj.nuget.dgspec.json
Elementary Sorting Algorithms/Shell Sort/obj/Shell Sort.csproj.nuget.g.props
Elementary Sorting Algorithms/Shell Sort/obj/Shell Sort.csproj.nuget.g.targets
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/apphost
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.AssemblyInfo.cs
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.AssemblyInfoInputs.cache
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.assets.cache
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.AssemblyReference.cache
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.CopyComplete
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.CoreCompileInputs.cache
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.csproj.FileListAbsolute.txt
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.dll
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.GeneratedMSBuildEditorConfig.editorconfig
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.genruntimeconfig.cache
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.GlobalUsings.g.cs
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/Shell Sort.pdb
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/ref/Shell Sort.dll
Elementary Sorting Algorithms/Shell Sort/obj/Debug/net7.0/refint/Shell Sort.dll
Quicksort/bin/Debug/net7.0/Quicksort
Quicksort/bin/Debug/net7.0/Quicksort.deps.json
Quicksort/bin/Debug/net7.0/Quicksort.dll
Quicksort/bin/Debug/net7.0/Quicksort.pdb
Quicksort/bin/Debug/net7.0/Quicksort.runtimeconfig.json
Quicksort/obj/project.assets.json
Quicksort/obj/project.nuget.cache
Quicksort/obj/Quicksort.csproj.nuget.dgspec.json
Quicksort/obj/Quicksort.csproj.nuget.g.props
Quicksort/obj/Quicksort.csproj.nuget.g.targets
Quicksort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Quicksort/obj/Debug/net7.0/apphost
Quicksort/obj/Debug/net7.0/Quicksort.AssemblyInfo.cs
Quicksort/obj/Debug/net7.0/Quicksort.AssemblyInfoInputs.cache
Quicksort/obj/Debug/net7.0/Quicksort.assets.cache
Quicksort/obj/Debug/net7.0/Quicksort.csproj.CoreCompileInputs.cache
Quicksort/obj/Debug/net7.0/Quicksort.csproj.FileListAbsolute.txt
Quicksort/obj/Debug/net7.0/Quicksort.dll
Quicksort/obj/Debug/net7.0/Quicksort.GeneratedMSBuildEditorConfig.editorconfig
Quicksort/obj/Debug/net7.0/Quicksort.genruntimeconfig.cache
Quicksort/obj/Debug/net7.0/Quicksort.GlobalUsings.g.cs
Quicksort/obj/Debug/net7.0/Quicksort.pdb
Quicksort/obj/Debug/net7.0/ref/Quicksort.dll
Quicksort/obj/Debug/net7.0/refint/Quicksort.dll
Randomizing Arrays/Elementary Randomization/bin/Debug/net7.0/Elementary Randomization
Randomizing Arrays/Elementary Randomization/bin/Debug/net7.0/Elementary Randomization.deps.json
Randomizing Arrays/Elementary Randomization/bin/Debug/net7.0/Elementary Randomization.dll
Randomizing Arrays/Elementary Randomization/bin/Debug/net7.0/Elementary Randomization.pdb
Randomizing Arrays/Elementary Randomization/bin/Debug/net7.0/Elementary Randomization.runtimeconfig.json
Randomizing Arrays/Elementary Randomization/obj/Elementary Randomization.csproj.nuget.dgspec.json
Randomizing Arrays/Elementary Randomization/obj/Elementary Randomization.csproj.nuget.g.props
Randomizing Arrays/Elementary Randomization/obj/Elementary Randomization.csproj.nuget.g.targets
Randomizing Arrays/Elementary Randomization/obj/project.assets.json
Randomizing Arrays/Elementary Randomization/obj/project.nuget.cache
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/apphost
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.AssemblyInfo.cs
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.AssemblyInfoInputs.cache
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.assets.cache
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.csproj.CoreCompileInputs.cache
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.csproj.FileListAbsolute.txt
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.dll
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.GeneratedMSBuildEditorConfig.editorconfig
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.genruntimeconfig.cache
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.GlobalUsings.g.cs
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/Elementary Randomization.pdb
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/ref/Elementary Randomization.dll
Randomizing Arrays/Elementary Randomization/obj/Debug/net7.0/refint/Elementary Randomization.dll
