Selection Sort/obj/project.assets.json
Selection Sort/obj/project.nuget.cache
Selection Sort/obj/Selection Sort.csproj.nuget.dgspec.json
Selection Sort/obj/Selection Sort.csproj.nuget.g.props
Selection Sort/obj/Selection Sort.csproj.nuget.g.targets
Selection Sort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Selection Sort/obj/Debug/net7.0/Selection Sort.AssemblyInfo.cs
Selection Sort/obj/Debug/net7.0/Selection Sort.AssemblyInfoInputs.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.assets.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.GeneratedMSBuildEditorConfig.editorconfig
.vscode/tasks.json
.vscode/launch.json
Selection Sort/bin/Debug/net7.0/Selection Sort
Selection Sort/bin/Debug/net7.0/Selection Sort.deps.json
Selection Sort/bin/Debug/net7.0/Selection Sort.dll
Selection Sort/bin/Debug/net7.0/Selection Sort.pdb
Selection Sort/bin/Debug/net7.0/Selection Sort.runtimeconfig.json
Selection Sort/obj/Debug/net7.0/apphost
Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.CoreCompileInputs.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.csproj.FileListAbsolute.txt
Selection Sort/obj/Debug/net7.0/Selection Sort.dll
Selection Sort/obj/Debug/net7.0/Selection Sort.genruntimeconfig.cache
Selection Sort/obj/Debug/net7.0/Selection Sort.pdb
Selection Sort/obj/Debug/net7.0/ref/Selection Sort.dll
Selection Sort/obj/Debug/net7.0/refint/Selection Sort.dll
